<menu class="social-media-share">
    <a href="#" class="icon-facebook" rel="external" title="My Facebook"></a>
      <a href="#" class="icon-twitter" rel="external" title="My Twitter"> </a>
      <a href="#" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
</menu>
