<menu class="social-media-share">
      <a href="#" class="icon-facebook" rel="external" title="My Facebook"><location.href='http://www.facebook.com'">
     www.example.com</button>  </a>
      <a href="#" class="icon-twitter" rel="external" title="My Twitter"> <"location.href='http://www.twitter.com'"</a>
      <a href="#" class="icon-linkedin" rel="external" title="My LinkedIn"> <"location.href='http://www.linkedin.com'"</a>
</menu>
