<menu class="social-media-share">
    <a href="#" class="icon-facebook" rel="external" title="My Facebook"> "http://www.facebook.com"></a>
      <a href="#" class="icon-twitter" rel="external" title="My Twitter"> "http://www.twitter.com></a>
      <a href="#" class="icon-linkedin" rel="external" title="My LinkedIn"> "http://www.linkedin.com/pub/sonia-uppal/91/44/a1/</a>
</menu>
