<menu class="social-media-share">
      <a href="#" class="icon-facebook" rel="external" title="My Facebook"> <A HREF="http://www.htmlgoodies.com"> </a>
      <a href="#" class="icon-twitter" rel="external" title="My Twitter"> <A HREF="http://www.htmlgoodies.com"></a>
      <a href="#" class="icon-linkedin" rel="external" title="My LinkedIn"> <A HREF="http://www.htmlgoodies.com"></a>
</menu>
